src/*.exe
src/lycancoin
src/lycancoind
src/build.h
src/leveldb/*.a
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.lycancoin

# Compilation and Qt preprocessor part
*.qm
lycancoin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile