src/*.exe
src/lycancoin
src/lycancoind
src/build.h
src/leveldb/*.a
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.lycancoin

# Unit-tests
Makefile.test
lycancoin-qt_test

# Compilation and Qt preprocessor part
*.qm
lycancoin-qt
lycancoin-qt.app
Makefile

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
